
@{
    ViewData["Title"] = "Góc sức khoẻ";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model dynamic


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../../images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Góc sức khoẻ</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang chủ</a>
                        <span>Bài viết</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <partial name="_BlogSideBar" />
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    @{
                        foreach(var item in Model.Blogs) {
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic">
                                        <img src="~/images/blog/@item.Thumb" alt="">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul>
                                            <li><i class="fa fa-calendar-o"></i>@item.CreateAt.ToLongDateString()</li>
                                        </ul>
                                        <h5><a asp-controller="Blog" asp-action="BlogDetail" , asp-route-id="@item.Id">@item.Title</a></h5>
                                        <p>
                                            @item.Summary
                                        </p>
                                        <a asp-controller="Blog" asp-action="BlogDetail" , asp-route-id="@item.Id" class="blog__btn">Đọc thêm<span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    

                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
