@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model List<OnlinePharmacy.Models.CartItem>
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../../images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Shopping Cart</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang chủ</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
@if (Model.Count > 0) {
  decimal total = 0;
  int stt = 1;
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="shoping__product">Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Giá thành</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var cartItem in Model) 
                            {
                                var thanhtien = cartItem.quantity * Int32.Parse(cartItem.product.Price);
                                total += thanhtien;
                                <tr>
                                    <td>@(stt++)</td>
                                    <td class="shoping__cart__item">
                                        <img src="~/images/product/@cartItem.product.Image" alt="">
                                            <h5>@cartItem.product.Name</h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                            @Convert.ToDecimal(cartItem.product.Price).ToString("n0") đ
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                    <input class="quantity" type="text" asp-for="@cartItem.quantity" id="@cartItem.product.Id" />
                                                    @{
                                                        var inventory = "Tồn kho: " + cartItem.product.Inventory;
                                                    }
                                            </div>
                                                <input style="width:120px" class="max" id="@($"max-{cartItem.product.Inventory}")" type="text" value="@inventory" disabled>

                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                            @Convert.ToDecimal(thanhtien).ToString("n0") đ
                                    </td>
                                    <td class="shoping__cart__item__close">
                                            <a asp-route="removecart" asp-route-productid="@cartItem.product.Id"><span class="icon_close"></span></a>
                                    </td>
                                </tr>

                            }                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/" class="primary-btn cart-btn">Tiếp tục mua</a>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Tạm tính</h5>
                    <ul>
                            <li>Tổng tiền<span> @Convert.ToDecimal(total).ToString("n0") đ</span></li>
                            @{
                                var temp = Convert.ToDecimal(total).ToString("n0") + "đ";
                                Accessor.HttpContext.Session.SetString("total", temp);
                            }

                    </ul>
                    <a asp-controller="Product" asp-action="checkout" class="primary-btn">Đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>

    @section Scripts {
    <script>
        $(document).ready(function () {

            $(".qtybtn").click(function () {
                var $button = $(this);
                var productId = $button.parent().find('input')[0].id
                var oldValue = $button.parent().find('input').val();
                var newValue = 1;
                var inventory = parseFloat($button.parent().next(".max")[0].id.split("-")[1])
                if ($button.hasClass('inc')) {
                    newValue = parseFloat(oldValue) + 1;
                    if(newValue > inventory) {
                        $button.parent().find('input').val(inventory);
                        newValue = oldValue
                    }
                }
                else {
                    newValue = parseFloat(oldValue) - 1;
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("updatecart")",
                    data: {
                        productId: productId,
                        quantity: newValue
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            })

            $(".quantity").keyup(function() {
                var $button = $(this);
                var productId = $button.parent().find('input')[0].id
                var oldValue = $button.parent().find('input').val();
                var newValue = 1;
                var inventory = parseFloat($button.parent().next(".max")[0].id.split("-")[1])
                if(oldValue > inventory) {
                    newValue = inventory
                }
                else {
                    newValue = oldValue
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatecart")",
                    data: {
                        productId: productId,
                        quantity: newValue
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            })
        });
    </script>
      }

}
else {
    <div class="text-center">
        <div class="">
            <picture>
                <img src="/images/cart/empty-cart.png" alt="img">
            </picture>
        </div>
        <h3 class="">Chưa có sản phẩm nào trong giỏ hàng</h3>
        <div class="m-3">
            <a href="/" class="primary-btn cart-btn">
                Mua hàng
            </a>
        </div>
    </div>
}
<!-- Shoping Cart Section End -->
