@{
	Layout = "_Layout2";
	ViewData["Title"] = ViewBag.productName;

}

<!DOCTYPE html>
<html lang="zxx">

<head>
</head>

<body>

	@model dynamic
	@{
		var product = Model.ProductDetail.Product;
		var category = Model.ProductDetail.Category;
	}

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg" data-setbg="../../images/breadcrumb.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>@category.Name</h2>
						<div class="breadcrumb__option">
							<a href="/">Trang chủ</a>
							<a asp-area="" asp-controller="Product" asp-action="Index" , asp-route-meta="@category.Meta">@category.Name</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<!-- Product Details Section Begin -->
	<section class="product-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product__details__pic">
						<div class="product__details__pic__item">
							<img class="product__details__pic__item--large"
								 src="~/images/product/@product.Image" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product__details__text">
						<h3>@product.Name</h3>
						<div class="product__details__rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						</div>
						<div class="product__details__price">@string.Format("{0:#.000}", Convert.ToDecimal(product.Price) / 1000) đ / @product.Unit</div>
						<p>
							@product.Desc
						</p>

						@{
							if (product.Inventory > 0)
							{
								<a asp-controller="Product" asp-action="AddToCart" asp-route-productId="@product.Id" id="addcart" class="primary-btn">Thêm vào giỏ</a>
							}

						}
						<ul>
							@{
								if (product.Inventory > 0)
								{
									<li><b>Trạng thái:</b> <span>Còn hàng (@product.Inventory)</span></li>
								}
								else
								{
									<li><b>Trạng thái:</b> <span style="color:darkred">Hết hàng</span></li>
								}
							}

							<li>
								<b>Chia sẻ:</b>
								<div class="share">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-instagram"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</div>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>




</body>

</html>