@model OnlinePharmacy.Models.Customer
@{
	ViewData["Title"] = "Chi tiết";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section Head{
	<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
	<script src="js/elfinder.min.js"></script>
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/select2/dist/css/select2.min.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/quill/dist/quill.snow.css" />
}
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			font-family: Arial, sans-serif;
		}

		th, td {
			text-align: left;
			padding: 8px;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		h5 {
			margin: 0;
			font-size: 16px;
			font-weight: bold;
		}

		table input[type="text"] {
			border: none;
			text-align: center;
			font-size: 16px;
			font-weight: bold;
			width: 50px;
			background-color: transparent;
		}

			table input[type="text"]:disabled {
				color: #999;
			}
	</style>
	<div class="page-wrapper">
		<div class="page-breadcrumb">
			<div class="row">
				<div class="col-12 d-flex no-block align-items-center">
					<h4 class="page-title">@ViewData["Title"]</h4>

				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="col-md-6">
				<div class="card">
					<h3>Thông tin Khách hàng</h3>
					<div class="card-body">
						<h5 class="card-title">Khách hàng @Model.Id</h5>
						<div class="form-group row">
							<label class="col-md-3" for="title">Tên</label>
							<div class="col-md-9">
								<input type="text"
								   id="title"
								   class="form-control"
								   placeholder="@Model.Name"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="title">Email</label>
							<div class="col-md-9">
								<input type="text"
								   id="title"
								   class="form-control"
								   placeholder="@Model.Email"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="title">SĐT</label>
							<div class="col-md-9">
								<input type="text"
								   id="title"
								   class="form-control"
								   placeholder="@Model.Phone"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="title">Địa chỉ</label>
							<div class="col-md-9">
								<input type="text"
								   id="title"
								   class="form-control"
								   placeholder="@Model.Address"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="title">Tổng các hoá đơn</label>
							<div class="col-md-9">
								<input type="text"
								   id="title"
								   class="form-control"
								   placeholder="@Convert.ToDecimal(ViewBag.totalPrice).ToString("n0")đ"
								   disabled />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-2">
								@Html.NoEncodeActionLink(
							"<span class='mdi mdi-arrow-left-bold'>Trở lại</span>",
							"Index",
							"Orders",
							"Admin",
							null,
							new { @class = "btn btn-warning" })
							</div>



						</div>
					</div>

				</div>

			</div>
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h5>Lịch sử mua hàng</h5>
						<div class="form-group row">
							<table id="zero_config"
							   class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>STT</th>
										<th>Tổng hoá đơn</th>
										<th>Phương thức thanh toán</th>
										<th>Trạng thái</th>
										<th>Ngày tạo</th>
										<th>Ngày xử lí</th>
										<th>Chi tiết</th>
									</tr>
								</thead>
								<tbody>
									@{
									var stt = 1;
									var historyOrder = ViewBag.historyOrder;
								}
								@foreach (var item in historyOrder)
								{
									<tr>
										<td>@Html.Raw(stt++)</td>
										<td>
											@Convert.ToDecimal(item.TotalPrice).ToString("n0")đ
										</td>
										@{
											var paymentMethodVN = "tiền mặt";
											if (item.PaymentMethod == "momo-cash")
											{
												paymentMethodVN = "momo";
											}
										}
										<td>
											@paymentMethodVN
										</td>
										@{
											var color = "yellow";
											var statusVN = "Đang chờ xử lý";
											if (item.Status == "Completed")
											{
												color = "green";
												statusVN = "Hoàn thành";
											}
											else if (item.Status == "Cancelled")
											{
												color = "red";
												statusVN = "Đã huỷ";
											}

										}
										<td style="color:white;background-color: @color">
											@statusVN
										</td>


										<td>
											@item.CreateAt
										</td>
										<td>
											@item.ModifiedAt
										</td>
										<td class="nowrap">
											@Html.NoEncodeActionLink(
										"<span class='mdi mdi-details'></span>",
										"Details",
										"Orders",
										"Admin",
										new {id = @item.Id},
										new { @class = "btn btn-info" })

											

										</td>
									</tr>
								}
							</tbody>
						</table>
						</div>
					</div>
				</div>

			</div>
	</div>



</div>

@section Scripts {
	<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
	<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
	<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
	<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
	<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
	<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
	<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin/assets/libs/quill/dist/quill.min.js"></script>
	<script>
		//***********************************//
		// For select 2
		//***********************************//
		$(".select2").select2();

		/*colorpicker*/
		$(".demo").each(function () {
			//
			// Dear reader, it's actually very easy to initialize MiniColors. For example:
			//
			//  $(selector).minicolors();
			//
			// The way I've done it below is just for the demo, so don't get confused
			// by it. Also, data- attributes aren't supported at this time...they're
			// only used for this demo.
			//
			$(this).minicolors({
				control: $(this).attr("data-control") || "hue",
				position: $(this).attr("data-position") || "bottom left",

				change: function (value, opacity) {
					if (!value) return;
					if (opacity) value += ", " + opacity;
					if (typeof console === "object") {
						console.log(value);
					}
				},
				theme: "bootstrap",
			});
		});
		/*datwpicker*/
		jQuery(".mydatepicker").datepicker();
		jQuery("#datepicker-autoclose").datepicker({
			autoclose: true,
			todayHighlight: true,
		});
		var quill = new Quill("#editor", {
			theme: "snow",
		});
	</script>
	}



