
@{
    ViewData["Title"] = "Tìm kiếm";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@inject IHttpContextAccessor Accessor
<section class="breadcrumb-section set-bg" data-setbg="../../images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Tìm kiếm</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div class="container">
    @{
        var count = Model.ProductResults.Count + Model.BlogResults.Count;
    }
    <h3>Có <strong>"@count"</strong> kết quả tìm kiếm cho <strong>"@Model.Query"</strong></h3>

    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Sản phẩm</h2>
            </div>
        </div>
    </div>
    @if (Model.ProductResults.Count > 0)
    {
        <div class="row featured__filter">
            @{
                foreach (var item in Model.ProductResults)
                {
                    var catMeta = "";
                    foreach (var cat in Model.CategoryResults)
                    {
                        if (cat.Id == item.CategoryId)
                        {
                            catMeta = SupFunc.ConvertToMeta(cat.Name);
                        }
                    }
                    <div class="col-lg-3 col-md-4 col-sm-6 mix @catMeta">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="../../images/product/@item.Image">
                                <ul class="featured__item__pic__hover">
                                    <li>
                                        @{
                                            if (item.Inventory > 0)
                                            {
                                                <a asp-controller="Product" asp-action="AddToCart" asp-route-productId="@item.Id"><i class="fa fa-shopping-cart"></i></a>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-danger">Hết hàng</button>
                                            }
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                @{
                                    var name = item.Name;
                                    if (name.Length > 60)
                                    {
                                        name = name.Substring(0, 60).Insert(60, "...");
                                    }
                                }
                                <h6><a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-metaCat="@catMeta" asp-route-metaProduct="@item.Meta">@name</a></h6>
                                <h5>@string.Format("{0:#.000}", Convert.ToDecimal(item.Price) / 1000) đ</h5>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    }
    else
    {
        <p>Không sản phẩm nào được tìm thấy.</p>
    }
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title from-blog__title">
                <h2>Góc sức khoẻ</h2>
            </div>
        </div>
    </div>
    @if (Model.BlogResults.Count > 0)
    {
        <div class="row">
            @{
                foreach (var blog in Model.BlogResults)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="~/images/blog/@blog.Thumb" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i>@blog.CreateAt.ToLongDateString()</li>
                                </ul>
                                <h5>
                                    <a asp-controller="Blog" asp-action="BlogDetail" asp-route-meta="@blog.Meta">@blog.Title</a>

                                </h5>
                                <p>@blog.Summary</p>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    }
    else
    {
        <p>Không bài viết nào được tìm thấy.</p>
    }
</div>


