@model OnlinePharmacy.Models.Product

@{
	ViewData["Title"] = "Xoá";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head{
	<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
	<script src="js/elfinder.min.js"></script>
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/select2/dist/css/select2.min.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/quill/dist/quill.snow.css" />
}
	<div class="page-wrapper">
		<div class="page-breadcrumb">
			<div class="row">
				<div class="col-12 d-flex no-block align-items-center">
					<h4 class="page-title">@ViewData["Title"]</h4>

				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="col-md-6">
				<div class="card">
					<h3>Bạn có muốn xoá sản phẩm này không ?</h3>
					<div class="card-body">
						<h5 class="card-title">Sản phẩm @Model.Id</h5>
						<div class="form-group row">
							<label class="col-md-3" for="id">Tên</label>
							<div class="col-md-9">
								<input type="text"
								   id="id"
								   class="form-control"
								   placeholder="@Model.Name"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="category">Loại</label>
							<div class="col-md-9">
								<input type="text"
								   id="category"
								   class="form-control"
								   placeholder="@Model.Category.Name"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="inventory">Tồn kho</label>
							<div class="col-md-9">
								<input type="text"
								   id="inventory"
								   class="form-control"
								   placeholder="@Model.Inventory"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="desc">Giới thiệu</label>
							<div class="col-md-9">
								<textarea id="desc"
									  class="form-control"
									  rows="5">@Model.Desc</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="image">Ảnh</label>
							<div class="col-md-9">
								<img src="~/images/product/@Model.Image" style="width:300px" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="price">Giá</label>
							<div class="col-md-9">
								<input type="text"
								   id="price"
								   class="form-control"
								   placeholder="@Model.Price"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="unit">Đơn vị bán</label>
							<div class="col-md-9">
								<input type="text"
								   id="unit"
								   class="form-control"
								   placeholder="@Model.Unit"
								   disabled />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-2">
								@Html.NoEncodeActionLink(
							"<span class='mdi mdi-arrow-left-bold'>Trở lại</span>",
							"Index",
							"Products",
							"Admin",
							null,
							new { @class = "btn btn-primary" })
							</div>
							<div class="col-md-2">
								<form asp-action="Delete">
									<input type="hidden" name="Id" value="@Model.Id" />
									<input type="submit" value="Xác nhận" class="btn btn-danger" />
								</form>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>



	</div>

	@section Scripts {
	<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
	<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
	<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
	<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
	<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
	<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
	<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin/assets/libs/quill/dist/quill.min.js"></script>
	<script>
		//***********************************//
		// For select 2
		//***********************************//
		$(".select2").select2();

		/*colorpicker*/
		$(".demo").each(function () {
			//
			// Dear reader, it's actually very easy to initialize MiniColors. For example:
			//
			//  $(selector).minicolors();
			//
			// The way I've done it below is just for the demo, so don't get confused
			// by it. Also, data- attributes aren't supported at this time...they're
			// only used for this demo.
			//
			$(this).minicolors({
				control: $(this).attr("data-control") || "hue",
				position: $(this).attr("data-position") || "bottom left",

				change: function (value, opacity) {
					if (!value) return;
					if (opacity) value += ", " + opacity;
					if (typeof console === "object") {
						console.log(value);
					}
				},
				theme: "bootstrap",
			});
		});
		/*datwpicker*/
		jQuery(".mydatepicker").datepicker();
		jQuery("#datepicker-autoclose").datepicker({
			autoclose: true,
			todayHighlight: true,
		});
		var quill = new Quill("#editor", {
			theme: "snow",
		});
	</script>
	}



